.messages__container {
  width: 100%;
  display: flex;
  flex-flow: column;
  gap: 10px;
}

.messages-search {
  width: 100%;
}

.messages__container > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.add-message-button {
  background: url("../../assets/add-message.svg");
  background-size: contain;
  height: 25px;
  width: 25px;
  cursor: pointer;
}
