.chatrooms__container {
  width: 100%;
  display: flex;
  flex-flow: column;
  gap: 10px;
}

.chatrooms-search {
  width: 100%;
}

.search__container,
.recent-chatrooms {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.add-chatroom-button {
  background: url("../../assets/add-message.svg");
  background-size: contain;
  height: 25px;
  width: 25px;
  cursor: pointer;
}

.list-messages__container {
  display: flex;
  flex-flow: column;
  gap: 5px;
}

.chatroom__container {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
}

.more-button {
  margin-left: auto;
  margin-bottom: auto;
  background: url("../../assets/dots.svg");
  background-size: contain;
  height: 25px;
  width: 25px;
  cursor: pointer;
  background-repeat: no-repeat;
}

.modal__background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #00000098;
}

.modal__container {
  background-color: red;
  /* height: 200px; */
  width: 500px;
  padding: 10px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  display: flex;
  flex-flow: column;
  gap: 10px;
}

.modal__upper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
