.chatrooms__container {
  width: 100%;
  display: flex;
  flex-flow: column;
  gap: 10px;
}

.chatrooms__upper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.chatrooms-search {
  width: 100%;
}

.search__container,
.recent-chatrooms {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.add-chatroom-button {
  background: url("../../assets/add-message.svg");
  background-size: contain;
  height: 25px;
  width: 25px;
  cursor: pointer;
}

.list-messages__container {
  display: flex;
  flex-flow: column;
  gap: 5px;
}

.chatroom__container {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
}

.chatroom__container:hover {
  background-color: rgb(218, 218, 218);
}

.active_chatroom {
  background-color: rgb(218, 218, 218);
}

.chatroom-name {
  display: flex;
  align-items: center;
  gap: 5px;
}

.chatroom-name > p {
 font-weight: 500;
}

.chatroom-name > .pin-icon {
  height: 12px;
  width: 12px;
}

.last-message__container {
  display: flex;
  align-items: center;
  gap: 3px;
  opacity: 0.9;
}

.recent-img {
  background: url("../../assets/uploadimg.svg");
  height: 16px;
  width: 16px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0.9;
}

.chat-last-active {
  font-size: 0.7em;
  color: rgb(153, 153, 153);
  position: absolute;
  transform: translateY(10px) translateX(230px);
  width: 100px;
  text-align: end;
  z-index: 0;
}

.more-button {
  margin-left: auto;
  margin-bottom: auto;
  background: url("../../assets/dots.svg");
  background-size: contain;
  height: 25px;
  width: 25px;
  cursor: pointer;
  background-repeat: no-repeat;
}

.dropdown__container {
  background-color: red;
  width: 170px;
  position: absolute;
  transform: translateX(170px) translateY(58%);
  border-radius: 5px;
  padding-block: 5px;
  z-index: 1;
}

.dropdown__container > ul {
  list-style: none;
  padding: 0px;
  margin: 0;
}

.dropdown__container > ul > li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 5px;
  padding-inline: 10px;
  gap: 20px;
}

.dropdown__container > ul > li:hover {
  background-color: blue;
}

.pin-icon {
  background: url("../../assets/pin.svg");
}

.unpin-icon {
  background: url("../../assets/unpin.svg");
}

.leave-icon {
  background: url("../../assets/exit.svg");
}

.icon {
  background-size: contain;
  height: 15px;
  width: 15px;
  background-repeat: no-repeat;
}

.modal__background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #00000098;
  z-index: 2;
}

.modal__container {
  background-color: red;
  /* height: 200px; */
  width: 500px;
  padding: 10px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  display: flex;
  flex-flow: column;
  gap: 10px;
}

.modal__upper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
