.chat__container {
  width: 100%;
  display: flex;
  flex-flow: column;
}

.no-chats__container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.no-chat-message__container {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.no-chat-img {
  width: 100px;
  height: 100px;
  border-radius: 30%;
  object-fit: cover;
}

.chat-upper__container {
  background-color: red;
  padding: 20px;
  display: flex;
  gap: 20px;
  align-items: center;
}

.chatroom-user-img {
  height: 50px;
  width: 50px;
  border-radius: 30%;
  object-fit: cover;
  cursor: pointer;
}

.group-chat-chatroom-img {
  height: 50px;
  width: 50px;
  border-radius: 30%;
  background: url("../../assets/group-chat-icon.svg");
  background-position: center;
  background-size: 70%;
  background-repeat: no-repeat;
  background-color: red;
}

.users-amount {
  margin-top: -2px;
}

.chatroom-user-img__container {
  margin-left: auto;
}

.chatroom-user-img__container > .chatroom-user-img {
  box-shadow: 0 0 0 3px #ffffff inset;
  padding: 1px;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  margin-left: -10px;
  cursor: pointer;
}

.options-button {
  background: url("../../assets/dots.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  padding: 0;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.options-dropdown__container {
  background-color: red;
  width: 170px;
  position: absolute;
  transform: translateX(-140px) translateY(0px);
  border-radius: 5px;
  padding-block: 5px;
  z-index: 1;
  border: 1px solid black;
}

.options-dropdown__container > ul {
  list-style: none;
  padding: 0px;
  margin: 0;
  cursor: pointer;
}

.options-dropdown__container > ul > li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 5px;
  padding-inline: 10px;
  gap: 20px;
}

.edit-icon {
  background: url("../../assets/edit-black.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.add-user-icon {
  background: url("../../assets/add-user.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.message__container {
  display: flex;
  flex-flow: column;
  height: 100%;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  gap: 5px;
  overflow: auto;
}

.message-box {
  padding: 10px;
  padding-inline: 15px;
  max-width: 40vw;
  width: fit-content;
  display: flex;
  flex-flow: column;
  align-items: center;
  border-radius: 15px 15px 15px 0;
  margin-left: 52px;
  background-color: #0084ff;
  color: white;
  display: flex;
  gap: 5px;
  font-size: 1.1em;
}

.message-box > p {
  align-self: flex-start;
}

.message-img {
  width: 400px;
}

.message-lower {
  display: flex;
  align-items: center;
  gap: 10px;
}

.message-lower > .user-img {
  width: 50px;
  height: 50px;
}

.message-lower > * {
  cursor: pointer;
}

.message-lower > .friend-icon {
  transform: translateX(-5px) translateY(2px);
}

.chat-list-username {
  font-weight: 500;
}

.input__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  margin-top: auto;
  gap: 20px;
  border: 1px solid rgb(224, 224, 224);
}

.input__container > input {
  width: 100%;
  height: 35px;
  padding-inline: 15px;
  border: none;
  background-color: #f3f3f3;
}

.image-upload {
  background: url("../../assets/uploadimg.svg");
  background-size: contain;
  height: 35px;
  width: 35px;
  cursor: pointer;
  background-repeat: no-repeat;
  opacity: 0.5;
}

.img-input {
  display: none;
}

.send-button {
  background: url("../../assets/send.svg");
  background-position: center;
  background-size: 50%;
  background-repeat: no-repeat;
  height: 40px;
  width: 40px;
  background-color: #0084ff;
}

.user-me {
  align-self: flex-end;
}

.user-me > .message-box {
  margin-right: 52px;
  background-color: rgb(236, 236, 236);
  color: rgb(41, 41, 41);
  border-radius: 15px 15px 0 15px;
}

.user-me > .message-lower {
  flex-direction: row-reverse;
}

.message-date__container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-block: 10px;
}

.line {
  border-top: solid 1px #f3f3f3;
  width: 100%;
}

.message-date {
  display: flex;
  justify-content: center;
  font-size: 0.8em;
  background-color: #f3f3f3;
  padding-inline: 10px;
  padding-block: 4px;
  border-radius: 10px;
  color: rgb(92, 92, 92);
}

.message-time {
  font-size: 0.7em;
  opacity: 0.7;
}

@media only screen and (max-width: 1300px) {
  .message-img {
    width: 100%;
  }
}
