.user-list__container {
  display: flex;
  flex-flow: column;
  gap: 20px;
}

.user__container {
  display: flex;
  gap: 10px;
}

.user-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.offline {
  -webkit-filter: grayscale(1);
  color: #21354785;
}
