.auth__container {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom right, #6ab7ff, #2394fd);
}

.app-title {
  display: flex;
  align-items: center;
  gap: 5px;
}

.app-title > h1 {
  font-size: 2em;
  color: white;
  font-weight: 500;
}

.logo__icon {
  background: url("../../assets/logo.svg");
  background-size: contain;
  height: 50px;
  width: 50px;
}

.auth__container > form {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  padding: 50px;
  border-radius: 10px;
  width: 350px;
  background-color: white;
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em,
    rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}

.auth__container > form > div {
  display: flex;
  flex-flow: column;
  width: 100%;
}

.form-label {
  position: absolute;
  transform: translateX(10px) translateY(6px);
  transition: all 0.2s ease-in-out;
  user-select: none;
}

.form-input:focus + .form-label,
input:not(:placeholder-shown) + .form-label {
  transform: translateX(5px) translateY(-20px);
  font-size: 0.8em;
}

.form-input {
  height: 25px;
  border-radius: 5px;
  padding-block: 5px;
  padding-inline: 10px;
}

.button-wrapper > .error-message {
  transform: translateX(90px) translateY(45px);
}

.error-message {
  position: absolute;
  transform: translateY(38px) translateX(5px);
  color: red;
  font-size: 0.8em;
}

.auth__container > form > button {
  width: 100%;
}
