.modal__background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #00000098;
    z-index: 2;
  }
  
  .modal__container {
    background-color: red;
    /* height: 200px; */
    width: 500px;
    padding: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    display: flex;
    flex-flow: column;
    gap: 10px;
  }
  
  .modal__upper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }