.sidebar__container {
  background-color: #eeeeee;
  min-width: 400px;
  height: 100%;
  box-sizing: border-box;
  padding: 20px;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em,
    rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}

.sidebar__container .messages-search,
.sidebar__container .chatrooms-search {
  background-color: white;
}
