:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;

  color-scheme: light dark;
  color: #213547;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #2394fd;
  text-decoration: inherit;
}
a:hover {
  color: #077ff0;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  width: 100vw;
  height: 100vh;
}

#root {
  margin: 0;
  width: 100vw;
  height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  font-weight: 500;
}

b {
  font-weight: 500;
}

p {
  margin: 0;
}

button {
  border-radius: 8px;
  border: none;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #2394fd;
  color: white;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  background-color: #077ff0;
}

input {
  height: 25px;
  border-radius: 5px;
  border: none;
  padding-block: 5px;
  padding-inline: 10px;
  background-color: #f3f3f3;
  color: #213547;
}

input:focus {
  outline: 2px solid #2394fd;
}

.online-icon {
  height: 8px;
  width: 8px;
  background-color: #3ba55c;
  position: absolute;
  border-radius: 50%;
  border: 2px solid white;
}

.offline-icon {
  height: 8px;
  width: 8px;
  background-color: rgb(216, 216, 216);
  position: absolute;
  border-radius: 50%;
  border: 2px solid white;
}

.search__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search__container > input {
  width: 100%;
}

::-webkit-scrollbar {
  width: 1.1em;
}

::-webkit-scrollbar-track {
  background: white;
  margin-block: 0.5em;
}

::-webkit-scrollbar-thumb {
  background: #2394fd;
  border-radius: 100vw;
  border: 0.25em solid white;
}

::-webkit-scrollbar-thumb:hover {
  background: #077ff0;
}
