.nav__container {
  min-width: 80px;
  height: 100%;
  background-color: #272727;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
}

.logo {
  background: url("../../assets/logo.svg");
  background-size: contain;
  height: 50px;
  width: 50px;
  margin: 15px;
  cursor: pointer;
}

.nav-middle {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

.profile-button {
  background: url("../../assets/profile.svg");
}

.chatrooms-button {
  background: url("../../assets/messages.svg");
}

.friends-button {
  background: url("../../assets/friend.svg");
}

.users-button {
  background: url("../../assets/users.svg");
}

.nav-lower {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

.settings-button {
  background: url("../../assets/settings.svg");
}

.nav__profile-img {
  height: 50px;
  width: 50px;
  object-fit: cover;
  border-radius: 30%;
  margin-bottom: 15px;
  cursor: pointer;
}

.nav-button {
  background-size: contain;
  height: 26px;
  width: 26px;
  cursor: pointer;
  opacity: 0.7;
  transition: all 0.2s ease-in-out;
}

.active {
  opacity: 1;
  scale: 1.1;
}
