.nav__container {
  width: 80px;
  height: 100%;
  background-color: rgb(31, 31, 31);
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
}

.logo {
  background: url("../../assets/logo.svg");
  background-size: contain;
  height: 50px;
  width: 50px;
  margin-top: 15px;
  cursor: pointer;
}

.nav-middle {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

.profile-button {
  background: url("../../assets/profile.svg");
}

.message-button {
  background: url("../../assets/messages.svg");
}

.friends-button {
  background: url("../../assets/friend.svg");
}

.users-button {
  background: url("../../assets/users.svg");
}

.nav-lower {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

.settings-button {
  background: url("../../assets/settings.svg");
}

.nav__profile-img {
  height: 50px;
  width: 50px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 15px;
  cursor: pointer;
}

.nav-button {
  background-size: contain;
  height: 30px;
  width: 30px;
  cursor: pointer;
}
